# Cargo generated
/target/
Cargo.lock

# Top level mesh files are generally ignored
/*.ply
/*.PLY
/*.obj
/*.OBJ
/*.stl
/*.STL
/stuff

# Output of `perf`
perf.data*

# A dummy example for library developers to test stuff
examples/dummy.rs
